<!DOCTYPE html>
<html>
    <head>
        <title>Rejestracja</title>
    </head>

    <body>
        <h1>Rejestracja nowego użytkownika</h1>

        {% if registered %}
        <strong>Dziękujemy!</strong>
        <a href="/users/">Return to the homepage.</a><br />
        {% else %}
        <strong>Zarejestruj się. </strong><br />

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}

            {{ user_form.as_p }}

            <input type="submit" name="submit" value="Register" />
        </form>
        {% endif %}
    </body>
</html>
